{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="{% static 'assets/lib/particle/css/particle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/lib/webRTC/css/getHTMLMediaElement.css' %}">

	{% block head %}
	{% endblock %}

</head>

<body>
{% block body %}
{% endblock %}



<script src="{% static 'assets/lib/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/lib/particle/js/particle.js' %}"></script>

<script src="{% static 'assets/lib/webRTC/js/RTCMultiConnection.js' %}"></script>
<script src="{% static 'assets/lib/webRTC/js/adapter.js' %}"></script>
<script src="{% static 'assets/lib/webRTC/js/socket.io.js' %}"></script>
<script src="{% static 'assets/lib/webRTC/js/getHTMLMediaElement.js' %}"></script>

{% block extrabottomjs %}
{% endblock %}

</body>
</html>
